# ---------------------------------------------------------------
# Configuración de Conexión a Oracle Cloud Autonomous Database
# ---------------------------------------------------------------

# Usuario y contraseña de la base de datos
ORACLE_USER=
ORACLE_PASSWORD=

# Alias de conexión (definido en wallet/tnsnames.ora)
ORACLE_DSN=elvolcandb_high

# Contraseña que definiste al descargar el Wallet desde Oracle Cloud
ORACLE_WALLET_PASSWORD=

# Carpeta donde están los archivos del Wallet descomprimidos
ORACLE_WALLET_DIR=wallet
